// Color Pallette ( color names are based on: https://chir.ag/projects/name-that-color/)
$color-alabaster: #f9f9f9;
$color-silver-chalice: #b0b0b0;
$color-opal: #afc6bd;
$color-merino: #f2ebdb;
$color-amazon: #3b755f;
$color-mine-shaft: #212121;
$color-white: #ffffff;
